:root {
  --green: rgb(72, 174, 192);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  font-family: parkinsans;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 10;
  background-color: #e6e6e6;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.homeCont img {
  width: 50px;
  border-radius: 50%;
}

.homeCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: color 0.5s ease;
  cursor: pointer;
}

.homeCont:hover {
  color: var(--green);
}

.itemCont {
  width: 100%;
  height: 100%;
  display: grid;
  color: white;
  letter-spacing: 1px;
}

.navItem {
  place-self: center;
  cursor: pointer;
  pointer-events: auto;
  color: black;
  transition: color 0.5s ease;
  font-size: 16px;
}

.navItem:hover {
  color: var(--green);
}

.overlay {
  width: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
  background-size: 120px 60px;
  font-family: kanit;
  font-weight: 600;
  position: relative;
  height: 100vh;
  display: grid;
  place-items: center;
}

.overlayContainer {
  margin: auto;
  display: grid;
  place-items: center;
}

.overlayContainer h1 {
  text-align: center;
  font-size: 70px;
  letter-spacing: 2px;
}

.overlayContainer p {
  font-size: 20px;
  width: 50%;
  font-weight: 300;
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
  padding: 50px;
}

.overlayContainer button {
  padding: 20px 80px;
  background-color: var(--green);
  outline: none;
  border: none;
  border-radius: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.445);
  color: white;
  cursor: pointer;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

.overlayContainer button:hover {
  color: white;
  background-color: black;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 50%;
  top: 50%;
}

.linkContainer img {
  width: 50px;
  height: auto;
  cursor: pointer;
  animation: pulse 2s infinite ease-in-out;
}

.linkContainer div {
  width: 100%;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.5s ease;
  background-color: #00000011;
}

.homeGithub {
  border-top-right-radius: 10px;
}

.homeLinkedIn {
  border-bottom-right-radius: 10px;
}

.linkContainer div:hover {
  background-color: rgba(72, 174, 192, 0.5);
}

.buttonCont {
  display: grid;
  place-items: center;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
}

.about {
  justify-items: center;
  padding: 100px 200px;
  background-color: rgba(0, 0, 0, 0.05);
}

.aboutDiv {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  font-family: kanit;
  flex-basis: 50%;
}

.aboutDiv h2,
.skillsDiv h2 {
  font-size: 26px;
  font-weight: 500;
  font-family: kanit;
  letter-spacing: 1.5px;
}

.aboutDiv p {
  padding: 40px 0;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 2;
}

.imgCard,
.imgCardTwo,
.imgCardThree {
  min-width: 250px;
  border-radius: 12px;
  min-height: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  background-position: center;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.imgCardTwo {
  background-image: url("./images/striper.jpg");
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition:
    transform 0.5s ease,
    z-index 0s;
}

.imgCard {
  background-image: url("./images/forest.jpg");
  background-size: cover;
  top: 10%;
  left: -30%;
  transform: translate(-50%, -50%);
  transform: rotate(-10deg);
  z-index: 1;
  transition:
    transform 0.5s ease,
    z-index 0s;
}

.imgCardThree {
  background-image: url("./images/mark.PNG");
  background-size: cover;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(10deg);
  z-index: 3;
  transition:
    transform 0.5s ease,
    z-index 0s;
}

.imgCard:hover {
  transform: rotate(-5deg) scale(1.1);
  z-index: 4;
}

.imgCardTwo:hover {
  transform: translate(-50%, -50%) scale(1.1);
  z-index: 4;
}

.imgCardThree:hover {
  transform: rotate(5deg) scale(1.1);
  z-index: 4;
}

.cardContainer {
  position: relative;
  width: 300px;
  height: 300px;
}

span {
  font-weight: 600;
}

#projectSpan {
  cursor: pointer;
  transition: color 0.5s ease;
}

#projectSpan:hover {
  color: var(--green);
}

.aboutDiv button {
  padding: 16px 40px;
  background-color: var(--green);
  outline: none;
  border: none;
  border-radius: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.445);
  color: white;
  cursor: pointer;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

.aboutDiv button:hover {
  color: white;
  background-color: black;
}

.aboutMainContainer {
  display: flex;
  gap: 100px;
  padding-top: 50px;
}

.skillsDiv {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  flex-basis: 50%;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 0 0;
  gap: 20px;
  justify-content: center;
}

.skillsContainer img {
  max-width: 100%;
  min-height: 100%;
  object-fit: contain;
}

.iconContainer {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
  padding: 20px;
  border-radius: 20px;
  font-family: kanit;
  font-weight: 500;
  letter-spacing: 1px;
  width: 160px;
  height: 200px;
  text-align: center;
}

.iconContainer h3 {
  padding-top: 10px;
}

.aboutLabelDiv,
.projectLabelDiv,
.contactLabelDiv {
  display: grid;
  place-items: center;
  gap: 40px;
}

.aboutLabelDiv h1,
.projectLabelDiv h1,
.contactLabelDiv h1 {
  font-family: montserrat;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 60px;
}

.line {
  width: 250px;
  height: 1px;
  background-color: var(--green);
  margin: 0 auto;
  margin-bottom: 20px;
}

.projectLabelDiv {
  padding-bottom: 40px;
}

section.projects {
  justify-items: center;
  margin: auto;
  padding: 100px 200px;
}

.projectContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: kanit;
  font-size: 20px;
  font-weight: 250;
  line-height: 2;
  gap: 50px;
}

.projectInfo h2 {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 2px;
}

.mockupContainer {
  height: auto;
  border-radius: 5px;
  display: grid;
  place-items: center;
  flex-basis: 65%;
}

.mockupContainer img {
  width: 100%;
}

img.mity {
  width: 40%;
  border-radius: 5px;
}

.project {
  display: flex;
  gap: 50px;
  flex: 1 1;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex-basis: 35%;
}

.projectInfo p {
  text-align: justify;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.buttonContainer img {
  width: 56px;
  height: auto;
  cursor: pointer;
}

.goButton {
  width: 56px;
  height: 56px;
  background-color: var(--green);
  text-align: center;
  outline: none;
  border: none;
  border-radius: 50%;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.goButton:hover {
  background-color: black;
}

.contact {
  background-color: rgb(0, 0, 0);
  margin: auto;
  color: #e6e6e6;
}

.contactCenterDiv {
  width: 80%;
  padding: 20px 0;
  display: grid;
  place-items: center;
  margin: auto;
}

.contactLabelDiv {
  gap: 20px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: kanit;
  letter-spacing: 1px;
  font-weight: 450;
  justify-content: center;
  color: #e6e6e6;
}

.contactHeading {
  font-size: 19px;
  font-weight: 450;
  font-family: kanit;
  text-align: center;
  padding-bottom: 20px;
}

.contactInfoDiv {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contactInfoDiv p {
  font-size: 17px;
  font-weight: 400;
}

.contactIcon {
  width: 28px;
}

.contactImg {
  width: 274px;
  height: auto;
  border-radius: 10px;
}

.contactLinkContainer {
  display: flex;
  gap: 10px;
}

.contactLinkContainer img {
  width: 36px;
  cursor: pointer;
}

.contactFlexDiv {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 1600px) {
  section.projects {
    padding: 100px;
  }
}

@media (max-width: 1183px) {
  .iconContainer {
    width: 136px;
    height: 170px;
  }

  .about,
  section.projects {
    padding: 50px;
  }
  .project {
    flex-direction: column;
  }
}

@media (max-width: 1093px) {
  .iconContainer {
    width: 120px;
    height: 150px;
  }

  .aboutDiv p {
    font-size: 16px;
  }

  .overlay p {
    width: 80%;
  }

  .overlay h1 {
    font-size: 60px;
  }

  .iconContainer h3 {
    padding-top: 10px;
    font-size: 14px;
  }
  .responsive {
    padding-bottom: 5px;
    padding-top: -5px;
  }
}

@media (max-width: 900px) {
  .aboutMainContainer {
    flex-direction: column;
  }

  .aboutDiv p {
    padding: 10px 0 20px 0;
    font-size: 16px;
  }

  .aboutMainContainer {
    gap: 50px;
  }

  .skillsContainer {
    padding-top: 20px;
  }

  header {
    font-size: 17px;
    padding: 20px;
  }

  .navItem {
    font-size: 15px;
  }

  #nav {
    gap: 20px;
  }

  .homeCont img {
    width: 40px;
  }

  .overlay h1 {
    font-size: 56px;
  }

  .linkContainer {
    left: 50%;
    top: 10vh;
    align-items: flex-start;
    flex-direction: row;
    transform: translate(-50%);
  }

  .homeGithub {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }

  .contactHeading {
    font-size: 16px;
  }

  .contactInfoDiv p {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  #nav {
    gap: 14px;
  }

  .homeCont {
    gap: 20px;
  }

  .overlay h1 {
    font-size: 42px;
  }

  header {
    font-size: 15px;
    height: 8vh;
  }

  .navItem {
    font-size: 13px;
  }

  .imgCard,
  .imgCardTwo,
  .imgCardThree {
    min-width: 200px;
    border-radius: 12px;
    min-height: 200px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  }

  .imgCard {
    top: 20%;
    left: -20%;
  }

  .imgCardTwo {
    top: 50%;
    left: 50%;
  }

  .imgCardThree {
    top: 20%;
    left: 50%;
  }

  .aboutLabelDiv,
  .projectLabelDiv,
  .contactLabelDiv {
    gap: 20px;
  }

  .projectLabelDiv {
    padding-bottom: 20px;
  }

  .cardContainer {
    margin-top: -40px;
  }

  .aboutMainContainer {
    padding-top: 0;
  }

  .contactImg {
    width: 239px;
  }

  .contactCenterDiv {
    width: 90%;
  }

  .linkContainer {
    top: 8vh;
  }

  .linkContainer img {
    width: 46px;
  }
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

@media (max-width: 600px) {
  #nav {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    width: 50%;
    top: 8vh;
    right: 0;
    gap: 0;
    border-bottom-left-radius: 10px;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.199);
    opacity: 0;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
  }

  .itemCont {
    padding: 20px;
    border-top: 1px solid rgb(0, 0, 0);
  }

  .home {
    border-top: none;
  }

  .navItem {
    font-size: 14px;
  }

  .menu-btn {
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
  }

  #nav.active {
    opacity: 1;
    visibility: visible;
  }

  .contactImg {
    width: 180px;
  }

  .contactCenterDiv {
    width: 90%;
  }

  .contactFlexDiv {
    justify-content: center;
    gap: 20px;
  }

  .aboutLabelDiv h1,
  .projectLabelDiv h1,
  .contactLabelDiv h1 {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .aboutDiv button {
    margin: 0 auto;
  }

  .aboutLabelDiv h1,
  .projectLabelDiv h1,
  .contactLabelDiv h1 {
    font-size: 42px;
  }

  .line {
    width: 150px;
  }

  .overlay h1 {
    font-size: 30px;
  }

  .overlay p {
    font-size: 17px;
    width: 90%;
  }

  .overlayContainer button {
    padding: 20px 60px;
  }

  .imgCard,
  .imgCardTwo {
    min-width: 200px;
    border-radius: 8px;
    min-height: 200px;
  }

  .imgCard {
    top: 15%;
    left: 5%;
    transform: rotate(-12deg);
  }

  .imgCardTwo {
    top: 52%;
    left: 60%;
    transform: rotate(7deg) translate(-50%, -50%);
  }

  .projectInfo h2 {
    font-size: 20px;
  }

  .projectInfo p {
    font-size: 18px;
  }

  .buttonContainer img,
  .goButton {
    width: 48px;
    height: 48px;
  }

  .about,
  section.projects {
    padding: 20px;
  }

  .contactContainer {
    flex-basis: 100%;
  }

  .contactHeading {
    text-align: justify;
  }
}

@media (max-width: 400px) {
  .overlay p {
    font-size: 16px;
  }
  .overlay h1 {
    font-size: 24px;
  }
  .overlayContainer button {
    padding: 20px 40px;
  }
}

@media (max-width: 360px) {
  .imgCard,
  .imgCardTwo {
    min-width: 170px;
    border-radius: 8px;
    min-height: 170px;
  }

  .imgCard {
    top: 15%;
    left: 10%;
    transform: rotate(-12deg);
  }

  .cardContainer {
    width: 300px;
    height: 250px;
  }
}
